---
export interface Props {
    id?: string;
    href: string;
    icon?: string;
    onclick?: () => void;
}

const {
    id,
    href,
    icon = null,
    onclick = () => console.log("clicked !"),
} = Astro.props as Props;
---

<a
    href={href}
    class="app-button bg-blue-500 text-white py-2 px-4 rounded mr-2"
    id={id}
>
    {icon && <i class={icon} />}
    <slot />
</a>

<style lang="scss">
    a {
        margin-top: 10px;

        &:hover {
            @apply bg-orange-500;
        }
    }
</style>

<script>
    document.querySelectorAll(".app-button").forEach((it) => {
        it.addEventListener("click", (e) => {
            e.stopPropagation()
            const text = (e.currentTarget as HTMLAnchorElement).innerText
            console.log(`button ${text} clicked`);
        });
    });
</script>
