---
export interface Props {
    href: string;
}

const { href } = Astro.props as Props;
---

<a
    href={href}
    class="bg-blue-500 text-white py-2 px-4 rounded"
>
    <slot />
</a>

<style lang="scss">
    a {
        margin-top: 10px;

        &:hover {
            @apply bg-orange-500;
        }
    }
</style>
