<div class="jumbotron flex align-middle justify-center items-end px-3 pb-8">

</div>

<style>
    .jumbotron {
        height: 20vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: center;
        background-image: url('/jumbotron-resized.jpg');
    }
</style>
